@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a submission for Allari SSE ASSESSMENT PROJECT created by Antonio Correia, this project was created using ASP.NET Core (MVC). Bellow there is a list of plants loaded through an <a target="_blank" href="~/js/site.js">ajax call</a>.
        The website layout contains a
        <span class="tag" onmouseover="highlightElement('header')" onmouseout="clearBorder('header')">header</span>,
        <span class="tag" onmouseover="highlightElement('navigation-bar')" onmouseout="clearBorder('navigation-bar')">navigation bar</span>,
        <span class="tag" onmouseover="highlightElement('content-right')" onmouseout="clearBorder('content-right')">content right</span> and
        <span class="tag" onmouseover="highlightElement('content-left')" onmouseout="clearBorder('content-left')">content left</span>,
        <span class="tag" onmouseover="highlightElement('main-content')" onmouseout="clearBorder('main-content')">main content</span> and
        <span class="tag" onmouseover="highlightElement('footer')" onmouseout="clearBorder('footer')">footer</span>.
        In the header there is a digital clock with current time using the computer time updating
        seconds, minutes and hours in real time using <a target="_blank" href="~/css/site.css" rel="stylesheet">CSS</a> & <a target="_blank" href="~/js/site.js">JS</a> code.
        You can also check the ripple effect code for the button bellow <a target="_blank" href="~/css/btn-ripple.css" rel="stylesheet">CSS</a> & <a target="_blank" href="~/js/ripple.js">JS</a>
        and the image slider code <a target="_blank" href="~/css/image-slider.css" rel="stylesheet">CSS</a> & <a target="_blank" href="~/js/image-slider.js">JS</a>.
    </p>
    <button id="btn-plants" type="button" class="btn-ripple" onclick="loadPlantsList()">Load list</button>
</div>



<div id="plants-table">
</div>