<div class="mouse-tracker" onload="trackMousePosition()">
    <div class="row">
        <div class="col-6 col-md-12">
            <label>Mouse x position (px)</label>
            <div id="mouse-x" class="mouse-position">X</div>
        </div>
        <div class="col-6 col-md-12">
            <label>Mouse y position (px)</label>
            <div id="mouse-y" class="mouse-position">Y</div>
        </div>
    </div>
</div>